<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/home">
      <img id="MDB-logo" src="https://marketplace.canva.com/EAGDSD62frQ/1/0/1600w/canva-logo-tecnolog%C3%ADa-geek-ilustrado-verde-y-azul-H0YfwNHVq6I.jpg"
        alt="MDB Logo" draggable="false" height="30" />
      <span class="ms-2">Tu Tecnologia</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex align-items-center w-100 form-search">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search" />
          <button class="btn btn-light" type="button"><i class="fas fa-search text-primary"></i></button>
        </div>
      </form>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-3">
          <a class="nav-link text-white" routerLink="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-warning text-black" routerLink="/login">Registrarse</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
